---
swagger: '2.0'
info:
  description: API for Red Hat Subscription Management
  title: RHSM-API
  version: '2'
  contact:
    url: 'https://access.redhat.com/support/cases/'
consumes:
  - application/json
produces:
  - application/json
schemes:
  - https
host: api.access.redhat.com
basePath: /management/v2
paths:
  '/manifests/versions':
    get:
      description:
        Returns list of Satellite version 6.0 and above
      tags:
        - manifest
      summary: List Satellite versions
      operationId: listVersionsManifest
      responses:
        '200':
          description: list of Satellite version
          schema:
            type: object
            properties:
              body:
                type: array
                items:
                  $ref: '#/definitions/ManifestVersion'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '404':
          $ref: '#/responses/NotFound'
        '500':
          $ref: '#/responses/InternalServerError'
  '/manifests/{uuid}':
    get:
      description:
        'System, RHUI, Hypervisor, SAM are unsupported manifest types'
      tags:
        - manifest
      summary: Get an Manifest by UUID
      operationId: showManifest
      parameters:
        - type: string
          name: uuid
          in: path
          required: true
        - maxItems: 1
          enum:
            - entitlements
          type: string
          description: Show more details about a manifest
          name: include
          in: query
      responses:
        '200':
          description: success response
          schema:
            type: object
            properties:
              body:
                $ref: '#/definitions/ManifestDetails'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '404':
          $ref: '#/responses/NotFound'
        '500':
          $ref: '#/responses/InternalServerError'
    delete:
      description: |-
        The default success response will be 204

        System, RHUI, Hypervisor, SAM are unsupported manifet types
      tags:
        - manifest
      summary: Remove manifest profile
      operationId: removeManifest
      parameters:
        - type: string
          name: uuid
          in: path
          required: true
        - enum:
            - true
          type: boolean
          description: >-
            Deleting a subscription manifest can have significant impacts on
            your hosts and activation keys.

            We require a force parameter to make sure the delete operation is
            intentional.
          name: force
          in: query
          required: true
      responses:
        '204':
          description: Successfully removed
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '404':
          $ref: '#/responses/NotFound'
        '500':
          $ref: '#/responses/InternalServerError'
        '504':
          $ref: '#/responses/GatewayTimeout'
    put:
      description: |-
        Allows to update simpleContentAccess for Satellite of version 6.3 and
        above
        Possible value for simpleContentAccess are:

        - enabled
        - disabled
      tags:
        - manifest
      summary: Update a manifest
      operationId: updateManifest
      parameters:
        - in: path
          type: string
          name: uuid
          required: true
        - in: body
          name: manifest
          schema:
            type: object
            required:
              - simpleContentAccess
            properties:
              simpleContentAccess:
                type: string
      responses:
        '204':
          $ref: '#/responses/NoContent'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '404':
          $ref: '#/responses/NotFound'
        '500':
          $ref: '#/responses/InternalServerError'
  '/manifests/{uuid}/entitlements':
    post:
      description: 'Satellite 5.6 or higher versions are only supported.'
      tags:
        - manifest
      summary: Attach entitlement to Manifest
      operationId: attachEntitlementManifest
      parameters:
        - maxItems: 1
          minItems: 1
          type: string
          name: pool
          in: query
          required: true
        - type: integer
          description: quantity you want to attach
          name: quantity
          in: query
        - type: string
          name: uuid
          in: path
          required: true
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              body:
                $ref: '#/definitions/ManifestDetails'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '404':
          $ref: '#/responses/NotFound'
        '500':
          $ref: '#/responses/InternalServerError'
        '504':
          $ref: '#/responses/GatewayTimeout'
  '/manifests/{uuid}/entitlements/{EntitlementID}':
    delete:
      description: The default success response will be 204.
      tags:
        - manifest
      summary: Remove entitlement from the manifest
      operationId: removeManifestEntitlement
      parameters:
        - type: string
          name: uuid
          in: path
          required: true
        - type: string
          name: EntitlementID
          in: path
          required: true
      responses:
        '204':
          description: successfully removed
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '404':
          $ref: '#/responses/NotFound'
        '500':
          $ref: '#/responses/InternalServerError'
    put:
      description: |-
        The default success response will be 200.

        System, RHUI, Hypervisor, SAM are unsupported manifest types
      tags:
        - manifest
      summary: Update attached entitlement to manifest
      operationId: updateEntitlementManifest
      parameters:
        - type: string
          name: uuid
          in: path
          required: true
        - type: string
          name: EntitlementID
          in: path
          required: true
        - type: integer
          description: >-
            maxItem: quantity must be less than or equal to the maximum number
            of allowed entitlements in the entitlement pool

            minItem: 1
          name: quantity
          in: query
      responses:
        '200':
          description: Success response
          schema:
            type: object
            properties:
              body:
                $ref: '#/definitions/ManifestDetails'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '404':
          $ref: '#/responses/NotFound'
        '500':
          $ref: '#/responses/InternalServerError'
  '/manifests':
    get:
      description: >-
        The default and max number of results in a response are 100.

        Satellite 6.0 or higher versions are only supported.
      tags:
        - manifest
      summary: List all manifests for a user
      operationId: listManifests
      parameters:
        - type: integer
          description: max number of results you want
          name: limit
          in: query
        - type: integer
          description: index from which you want next items
          name: offset
          in: query
      responses:
        '200':
          description: list of manifests
          schema:
            type: object
            properties:
              body:
                type: array
                items:
                  $ref: '#/definitions/Manifest'
              pagination:
                $ref: '#/definitions/APIPageParam'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '404':
          $ref: '#/responses/NotFound'
        '500':
          $ref: '#/responses/InternalServerError'
    post:
      description: |-
        Create Manifest by name and version(optional).
        Customers can use any version listed in the `/v2/manifests/versions`
        endpoint (use attribute `value`).
        If no version is specified, it will take the latest available version
         for Manifest.
      tags:
        - manifest
      summary: Create Manifest
      operationId: createManifest
      parameters:
        - type: string
          description: >-
            must be less than 100 characters and use only numbers, letters,
            underscores, hyphens, and periods
          name: Name
          in: query
          required: true
        - type: string
          name: version
          in: query
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              body:
                $ref: '#/definitions/ManifestSummary'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '404':
          $ref: '#/responses/NotFound'
        '500':
          $ref: '#/responses/InternalServerError'
  '/organization':
    get:
      description: Show Simple Content Access details of user's organization
      tags:
        - organization
      summary: Get details of the user's organization
      operationId: checkOrgSCACapability
      parameters:
        - type: string
          description: Request for system purpose attributes in response
          name: include
          in: query
      responses:
        '200':
          description: Organization details
          schema:
            type: object
            properties:
              body:
                $ref: '#/definitions/OrgSimpleContentAccess'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '404':
          $ref: '#/responses/NotFound'
        '500':
          $ref: '#/responses/InternalServerError'
  '/products':
    get:
      description: >
        Get list of all the products of user's subscription.
        The products are from subscriptions that have not
        expired or expired within last 30 days.
      tags:
        - products
      summary: List all the products from user's subscription
      operationId: listProducts
      parameters:
        - type: string
          description: Filters products based on subscription status
          name: status
          in: query
          enum:
            - expired
            - expiringSoon
            - active
            - futureDated
      responses:
        '200':
          description: Product list
          schema:
            type: object
            properties:
              body:
                type: array
                items:
                  $ref: '#/definitions/ProductList'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '500':
          $ref: '#/responses/InternalServerError'
  '/products/export':
    get:
      description: Export a csv file of all subscriptions
      tags:
       - products
      summary: Export subscriptions
      produces:
        - text/csv
      responses:
        '200':
          description: Export
          schema:
            type: file
          examples:
            text/csv: |
              Name,SKU,Service level,Support type,Capacity name,Capacity quantity,Contract number,Quantity,Start date,End date,Status (Active, Expired, Future Dated)
              Example Name, Example SKU, Example Service level, Example Support type, Example Capacity name, Example Contract number, Example Quantity, Example Start date, Example End date, Example Status
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '500':
          $ref: '#/responses/InternalServerError'
  '/products/{SKU}':
    get:
      description: Get a single product by SKU
      tags:
        - products
      summary: Show product
      operationId: showProduct
      parameters:
        - type: string
          description: SKU of the product to show
          name: SKU
          required: true
          in: path
      responses:
        '200':
          description: Product
          schema:
            type: object
            properties:
              body:
                $ref: '#/definitions/ProductList'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '500':
          $ref: '#/responses/InternalServerError'
  '/products/status':
    get:
      description: |-
        Get counts of user's subscriptions by status such as
        - active
        - expired
        - expiring soon
        - future dated 
      tags:
        - products
      summary: Get user's subscription quantities by status
      operationId: statusCounts
      responses:
        '200':
          description: Status counts
          schema:
            type: object
            properties:
              body:
                $ref: '#/definitions/StatusCount'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '500':
          $ref: '#/responses/InternalServerError'
  '/products/RHEL/extended-update-support-versions':
    get:
      description: |-
        Returns the list of currently supported RHEL versions for Extended Update Support
      tags:
        - products
      summary:
        List RHEL EUS versions
      responses:
        '200':
          description: Extended Update Support versions
          schema:
            type: object
            properties:
              body:
                type: array
                items:
                  type: string
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '500':
          $ref: '#/responses/InternalServerError'
  '/products/RHEL/extended-update-support-products':
    get:
      description: |-
        Returns the list of currently supported RHEL product-repo mappings for Extended Update Support
      tags:
        - products
      summary:
        List RHEL EUS products
      responses:
        '200':
          description: Extended Update Support versions
          schema:
            type: object
            properties:
              body:
                type: array
                items:
                  $ref: '#/definitions/EusProductList'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '500':
          $ref: '#/responses/InternalServerError'
  '/manifests/{uuid}/pools':
    get:
      description: 'Satellite 5.6 or higher versions are only supported.'
      tags:
        - manifest
      summary: List all pools for a manifest
      operationId: listManifestPools
      parameters:
        - type: integer
          description: max number of results you want
          name: limit
          in: query
        - type: integer
          description: index from which you want next items
          name: offset
          in: query
        - enum:
            - true
          type: boolean
          description: include future dated pools for satellite 6.3 or higher
          name: future
          in: query
        - type: string
          name: uuid
          in: path
          required: true
      responses:
        '200':
          description: list of pools available for the manifest
          schema:
            $ref: '#/definitions/poolsListMock'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '404':
          $ref: '#/responses/NotFound'
        '500':
          $ref: '#/responses/InternalServerError'
  '/manifests/{uuid}/export':
    get:
      description: >-
        Starts job to generate export for a manifest. To check the status of
        the export job visit the href in the response.


        Satellite 6.0 or higher versions are only supported.
      tags:
        - manifest
      summary: Trigger manifest export
      operationId: exportManifest
      parameters:
        - type: string
          name: uuid
          in: path
          required: true
      responses:
        '200':
          description: ExportManifest200 is the success response
          schema:
            type: object
            properties:
              body:
                $ref: '#/definitions/exportResponse'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '404':
          $ref: '#/responses/NotFound'
        '500':
          $ref: '#/responses/InternalServerError'
  '/manifests/{uuid}/exportJob/{ExportJobID}':
    get:
      description: >-
        Returns export download link in response.
      tags:
        - manifest
      summary: Check status of manifest export
      operationId: exportJobManifest
      parameters:
        - type: string
          name: uuid
          in: path
          required: true
        - type: string
          name: ExportJobID
          in: path
          required: true
      responses:
        '200':
          description: ExportJobManifest200 is the success response
          schema:
            type: object
            properties:
              body:
                $ref: '#/definitions/exportJobResponse'
        '202':
          description: AcceptedExportJob202 is a response for accepted and in
            progress job
          schema:
            type: object
            properties:
              body:
                $ref: '#/definitions/ongoingExportJobResponse'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '404':
          $ref: '#/responses/NotFound'
        '406':
          $ref: '#/responses/NotAcceptable'
        '500':
          $ref: '#/responses/InternalServerError'
  '/manifests/{uuid}/export/{ExportID}':
    get:
      description: >-
        Success response contains a zip file. The link is one-time download and
        expires after one try. Trigger export job to get another download link.


        Content-Type: application/zip
      produces:
        - application/zip
      tags:
        - manifest
      summary: Download manifest
      operationId: getExportManifest
      parameters:
        - type: string
          name: uuid
          in: path
          required: true
        - type: string
          name: ExportID
          in: path
          required: true
      responses:
        '200':
          description: GetExportManifest200 is the success response
          schema:
            type: array
            items:
              type: integer
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '404':
          $ref: '#/responses/NotFound'
        '500':
          $ref: '#/responses/InternalServerError'
  '/activation_keys':
    get:
      description: >-
        Returns a list of activation keys on the account including
        service level, role, additionalRepositories, usage,
        and release version (if applicable). Additional Repositories
        and release version will be an empty set in case it is not set.
      tags:
        - activationKey
      summary: List activation keys
      operationId: listActivationKeys
      responses:
        '200':
          description: Array of activation keys
          schema:
            type: object
            properties:
              body:
                type: array
                items:
                  $ref: '#/definitions/ActivationKeys'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '500':
          $ref: '#/responses/InternalServerError'
    post:
      description: >-
        Creates an activation key by name, release version and system purpose
        attributes, that are service level, role and usage. In the request
        body, "name" should be present and unique and can only contain letters,
        numbers, underscores, or hyphens.
        The response will have name and additionalRepositories as fixed fields.
        AdditionalRepositories field will always be empty for a new activation
        key. Role, serviceLevel, usage and releaseVersion are conditional
        fields, will be present in response only when they have values.
      tags:
        - activationKey
      summary: Create activation key
      operationId: createActivationKeys
      parameters:
        - in: body
          name: activationKey
          description: Create an activation key
          schema:
            type: object
            required:
              - name
            properties:
              name:
                type: string
                description: Name should be present, unique and can only contain
                  letters, numbers, underscores, or hyphens
              serviceLevel:
                type: string
              role:
                type: string
              usage:
                type: string
              releaseVersion:
                type: string
              additionalRepositories:
                type: array
                items:
                  type: object
                  properties:
                    repositoryLabel:
                      type: string
      responses:
        '200':
          description: Activation key
          schema:
            type: object
            properties:
              body:
                $ref: '#/definitions/ActivationKeys'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '500':
          $ref: '#/responses/InternalServerError'
  '/activation_keys/{name}':
    get:
      description: >-
        Get activation key by name
      tags:
        - activationKey
      summary: Get activation key
      operationId: showActivationKey
      parameters:
        - type: string
          name: name
          in: path
          required: true
      responses:
        '200':
          description: Activation key
          schema:
            type: object
            properties:
              body:
                $ref: '#/definitions/ActivationKeys'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '500':
          $ref: '#/responses/InternalServerError'
    delete:
      description: >-
        Removes the activation key from the account based on activation key name
      tags:
        - activationKey
      summary: Delete activation key
      operationId: removeActivationKeys
      parameters:
        - type: string
          name: name
          in: path
          required: true
      responses:
        '204':
          description: successfully removed
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '404':
          $ref: '#/responses/NotFound'
        '500':
          $ref: '#/responses/InternalServerError'
    put:
      description: >-
        Updates an existing activation key with one or more fields as
        provided in request. It also returns additionalRepositories
        field which will be empty set when it is empty
      tags:
        - activationKey
      summary: Update activation key
      operationId: updateActivationKeys
      parameters:
        - type: string
          name: name
          in: path
          required: true
        - in: body
          name: activationKey
          description: Update an activation key
          schema:
            type: object
            properties:
              serviceLevel:
                type: string
              role:
                type: string
              usage:
                type: string
              releaseVersion:
                type: string
      responses:
        '200':
          description: Activation key
          schema:
            type: object
            properties:
              body:
                $ref: '#/definitions/ActivationKeys'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '500':
          $ref: '#/responses/InternalServerError'
  '/activation_keys/{name}/additional_repositories':
    post:
      description: >-
        Add additional repositories to an activation key by providing
        activation key name and repository labels.
        Customers can use any respositories listed in the
        `/v2/activation_keys/{name}/available_repositories` endpoint
        (use attribute `repositoryLabel`). Empty value is not supported
        and maximum length of repository label allowed is upto 255 characters.
      tags:
        - activationKey
      summary: Add Additional Repositories
      operationId: addAdditionalRepositories
      parameters:
        - type: string
          name: name
          in: path
          required: true
        - in: body
          name: activationKey
          description: Add Additional repositories
          schema:
            type: array
            items:
              $ref: '#/definitions/AdditionalRepositories'
      responses:
        '200':
          description: list of additional repositories
          schema:
            type: object
            properties:
              body:
                type: array
                items:
                  $ref: '#/definitions/AdditionalRepositories'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '500':
          $ref: '#/responses/InternalServerError'
    delete:
      description: >-
        Removes the additional repositories from an activation key by providing
        activation key name and repository labels
      tags:
        - activationKey
      summary: Delete Additional Repositories
      operationId: removeActivationKeyAdditionalRepositories
      parameters:
        - type: string
          name: name
          in: path
          required: true
        - name: additionalRepositories
          in: body
          schema:
            type: array
            items:
              $ref: '#/definitions/AdditionalRepositories'
      responses:
        '204':
          $ref: '#/responses/NoContent'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '404':
          $ref: '#/responses/NotFound'
        '500':
          $ref: '#/responses/InternalServerError'
  '/activation_keys/{name}/available_repositories':
    get:
      description: >-
        Returns the list of RPM repositories available to an activation
        key that can be added as an additional repository. Available
        repositories are calculated by negating the additional repositories from
        the set of total RPM repositories. It can be an empty set
        if there are no RPM repositories or all of the repositories
        are already added to an activation key.
      tags:
        - activationKey
      summary: List Available Repositories
      operationId: listAvailableRepositories
      parameters:
        - type: string
          name: name
          in: path
          required: true
        - type: integer
          description: max number of results you want
          name: limit
          in: query
        - type: integer
          description: index from which you want next items
          name: offset
          in: query
        - type: string
          description: >-
            Filters available repos based off
            default status
          name: default
          in: query
          enum:
            - Disabled
      responses:
        '200':
          description: list of available repositories
          schema:
            type: object
            properties:
              body:
                type: array
                items:
                  $ref: '#/definitions/AvailableRepositories'
              pagination:
                $ref: '#/definitions/APIPageParam'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '500':
          $ref: '#/responses/InternalServerError'

definitions:
  ManifestDetails:
    description: details of a manifest
    type: object
    properties:
      simpleContentAccess:
        type: string
      createdBy:
        type: string
      createdDate:
        $ref: '#/definitions/Date'
      entitlementsAttached:
        $ref: '#/definitions/EntitlementsAttached'
      entitlementsAttachedQuantity:
        type: integer
      lastModified:
        $ref: '#/definitions/Date'
      name:
        type: string
      type:
        type: string
      uuid:
        type: string
      version:
        type: string
  ManifestVersion:
    type: object
    description: >-
      List of satellite version
    properties:
      value:
        type: string
      description:
        type: string
  Manifest:
    type: object
    title: >-
      Manifest is an entity that consumes entitlements. Also referred as a
      Distributor.
    properties:
      entitlementQuantity:
        type: integer
      name:
        type: string
      type:
        type: string
      url:
        type: string
      uuid:
        type: string
      version:
        type: string
      simpleContentAccess:
        type: string
  ErrorDetails:
    description: ErrorDetails details the Error in ErrorResponse
    type: object
    properties:
      code:
        type: integer
      message:
        type: string
  Date:
    description: Date format used in API responses.
    type: string
    example: "2006-01-02T15:04:05.000Z"
  EntitlementsAttached:
    description: >-
      Details of all the entitlements attached and their status.
    type: object
    properties:
      reason:
        type: string
      valid:
        type: boolean
      value:
        type: array
        items:
          $ref: '#/definitions/EntitlementsAttachedValue'
  EntitlementsAttachedValue:
    description: >-
      Detail of each entitlement attached
    type: object
    properties:
      contractNumber:
        type: string
      entitlementQuantity:
        type: integer
      id:
        type: string
      sku:
        type: string
      subscriptionName:
        type: string
      startDate:
        $ref: '#/definitions/Date'
      endDate:
        $ref: '#/definitions/Date'
  poolsListMock:
    type: object
    properties:
      body:
        type: array
        items:
          $ref: '#/definitions/PoolDetail'
      pagination:
        $ref: '#/definitions/APIPageParam'
  PoolDetail:
    description: PoolDetail is an entry in the system/allocation pools listing
    type: object
    properties:
      contractNumber:
        type: string
      endDate:
        $ref: '#/definitions/Date'
      entitlementsAvailable:
        type: integer
      id:
        type: string
      serviceLevel:
        type: string
      sku:
        type: string
      startDate:
        $ref: '#/definitions/Date'
      subscriptionName:
        type: string
      subscriptionNumber:
        type: string
  APIPageParam:
    description: APIPageParam details the pagination parameters in APIResponse
    type: object
    properties:
      count:
        type: integer
      limit:
        type: integer
      offset:
        type: integer
  ManifestSummary:
    description: details of a manifest
    type: object
    properties:
      contentAccessMode:
        type: string
      createdBy:
        type: string
      createdDate:
        $ref: '#/definitions/Date'
      entitlementsAttachedQuantity:
        type: integer
      lastModified:
        $ref: '#/definitions/Date'
      name:
        type: string
      type:
        type: string
      uuid:
        type: string
      version:
        type: string
  OrgSimpleContentAccess:
    type: object
    title: >-
      Organization Simple Content Access details.
    properties:
      id:
        type: string
      simpleContentAccessCapable:
        type: boolean
      simpleContentAccess:
        type: string
      systemPurposeAttributes:
        $ref: '#/definitions/SystemPurposeAttributes'
  SystemPurposeAttributes:
    description: System purpose settings available to an organization
    type: object
    properties:
      roles:
        type: array
        items:
          type: string
      usage:
        type: array
        items:
          type: string
      serviceLevel:
        type: array
        items:
          type: string
  exportResponse:
    type: object
    properties:
      exportJobID:
        type: string
      href:
        type: string
  exportJobResponse:
    type: object
    properties:
      exportID:
        type: string
      href:
        type: string
  ongoingExportJobResponse:
    type: object
    properties:
      message:
        type: string
  ActivationKeys:
    type: object
    properties:
      id:
        type: string
      name:
        type: string
      serviceLevel:
        type: string
      role:
        type: string
      usage:
        type: string
      additionalRepositories:
        type: array
        items:
          $ref: '#/definitions/AdditionalRepositories'
      releaseVersion:
        type: string
  ProductList:
    type: object
    title: >-
      List of products from subscriptions
    properties:
      sku:
        type: string
      name:
        type: boolean
      productLine:
        type: string
      quantity:
        type: integer
      serviceType:
        type: string
      serviceLevel:
        type: string
      capacity:
        $ref: '#/definitions/Capacity'
  EusProductList:
    type: object
    title: >-
      List of RHEL EUS product-repo mappings
    properties:
      name:
        type: string
      engID:
        type: integer
      configurations:
        type: array
        items:
          type: object
          properties:
            version:
              type: string
            repositories:
              type: array
              items:
                type: string
  Capacity:
    type: object
    properties:
      name:
        type: string
      quantity:
        type: string
  AdditionalRepositories:
    type: object
    properties:
      repositoryName:
        type: string
      repositoryLabel:
        type: string
  AvailableRepositories:
    type: object
    properties:
      repositoryLabel:
        type: string
      repositoryName:
        type: string
      architecture:
        type: string
      default:
        type: string
      engineeringProduct:
        type: string
  StatusCount:
    type: object
    title: >-
      Status counts of user's subscriptions
    properties:
      active:
        type: integer
      expired:
        type: integer
      expiringSoon:
        type: integer
      futureDated:
        type: integer
responses:
  BadRequest:
    description: BadRequest error
    schema:
      type: object
      properties:
        error:
          $ref: '#/definitions/ErrorDetails'
  Forbidden:
    description: Forbidden error
    schema:
      type: object
      properties:
        error:
          $ref: '#/definitions/ErrorDetails'
  GatewayTimeout:
    description: GatewayTimeout error
    schema:
      type: object
      properties:
        error:
          $ref: '#/definitions/ErrorDetails'
  InternalServerError:
    description: InternalServerError error
    schema:
      type: object
      properties:
        error:
          $ref: '#/definitions/ErrorDetails'
  NotFound:
    description: NotFound error
    schema:
      type: object
      properties:
        error:
          $ref: '#/definitions/ErrorDetails'
  Unauthorized:
    description: Unauthorized error
    schema:
      type: object
      properties:
        error:
          $ref: '#/definitions/ErrorDetails'
  NoContent:
    description: No Content
  NotAcceptable:
    description: NotAcceptable error
    schema:
      type: object
      properties:
        error:
          $ref: '#/definitions/ErrorDetails'
