name: build

on:
  workflow_call:
    inputs:
      runs-on:
        required: true
        type: string
      ext-version:
        required: false
        type: string
        default: latest
      registry:
        required: false
        type: string

jobs:
  build:
    name: Build
    runs-on: ${{ inputs.runs-on }}
    timeout-minutes: 60
  
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install dependencies
        run: |
          pnpm install

      - name: Run Build
        timeout-minutes: 20
        run: pnpm build

      - name: Login to quay.io
        if: ${{ inputs.registry == 'quay' }}
        run: podman login --username ${{ secrets.QUAY_ROBOT_NAME }} --password ${{ secrets.QUAY_ROBOT_TOKEN }} quay.io

      - name: Login to ghcr.io
        if: ${{ inputs.registry == 'ghcr' }}
        run: podman login --username ${{ github.repository_owner }} --password ${{ secrets.GITHUB_TOKEN }} ghcr.io

      - name: Build and Push Image (quay.io)
        if: ${{ inputs.registry == 'quay' }}
        id: build-image-quay
        run: |
          podman build -t ghcr.io/redhat-developer/podman-desktop-redhat-account-ext-builder:next . -f ./build/Containerfile.builder
          podman build -t quay.io/redhat-developer/podman-desktop-redhat-account-ext:${{ inputs.ext-version }} . -f ./build/Containerfile
          podman push quay.io/redhat-developer/podman-desktop-redhat-account-ext:${{ inputs.ext-version }}

      - name: Build and Push Image (ghcr.io)
        if: ${{ inputs.registry == 'ghcr' }}
        id: build-image-ghcr
        run: |
          podman build -t ghcr.io/redhat-developer/podman-desktop-redhat-account-ext-builder:next . -f ./build/Containerfile.builder
          podman build -t ghcr.io/redhat-developer/podman-desktop-redhat-account-ext:next . -f ./build/Containerfile
          podman push ghcr.io/redhat-developer/podman-desktop-redhat-account-ext:next
