#
# Copyright (C) 2022 Red Hat, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# SPDX-License-Identifier: Apache-2.0

name: pr-check

on: [pull_request]

jobs:
  
  build:
    name: Build
    needs: test
    strategy:
      matrix:
        target: [windows-2022, macos-14, ubuntu-24.04]
      fail-fast: true
    uses: ./.github/workflows/build.yaml
    with:
      runs-on: ${{ matrix.target }}
 
  test:
    name: Test
    runs-on: ${{ matrix.target }}
    strategy:
      matrix:
        target: [windows-2022, macos-14, ubuntu-24.04]
      fail-fast: true
      
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Execute pnpm
        run: pnpm install

      - name: Run linter
        run: pnpm lint:check

      - name: Run formatter
        run: pnpm format:check

      - name: Run unit tests
        run: pnpm test

  e2e-tests:
    name: e2e tests
    runs-on: ubuntu-24.04
    needs: test
    env:
      SKIP_INSTALLATION: true
    steps:
      - uses: actions/checkout@v6
        with: 
          path: podman-desktop-redhat-account-ext

      # Checkout podman desktop
      - uses: actions/checkout@v6
        with:
          repository: podman-desktop/podman-desktop
          ref: main
          path: podman-desktop

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false
          package_json_file: ./podman-desktop/package.json


      - uses: actions/setup-node@v6
        with:
          node-version: 22
      
      - name: Update podman
        run: |
          echo "ubuntu version from kubic repository to install podman we need (v5)"
          ubuntu_version='23.10'
          echo "Add unstable kubic repo into list of available sources and get the repo key"
          sudo sh -c "echo 'deb https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/unstable/xUbuntu_${ubuntu_version}/ /' > /etc/apt/sources.list.d/devel:kubic:libcontainers:unstable.list"
          curl -L "https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/unstable/xUbuntu_${ubuntu_version}/Release.key" | sudo apt-key add -
          echo "Updating database of packages..."
          sudo apt-get update -qq
          echo "install necessary dependencies for criu package which is not part of ${ubuntu_version}"
          sudo apt-get install -qq libprotobuf32t64 python3-protobuf libnet1
          echo "install criu manually from static location"
          curl -sLO http://archive.ubuntu.com/ubuntu/pool/universe/c/criu/criu_3.16.1-2_amd64.deb && sudo dpkg -i criu_3.16.1-2_amd64.deb
          echo "installing/update podman package..."
          sudo apt-get -qq -y install podman || { echo "Start fallback steps for podman nightly installation from a static mirror" && \
            sudo sh -c "echo 'deb http://ftp.lysator.liu.se/pub/opensuse/repositories/devel:/kubic:/libcontainers:/unstable/xUbuntu_${ubuntu_version}/ /' > /etc/apt/sources.list.d/devel:kubic:libcontainers:unstable.list" && \
            curl -L "http://ftp.lysator.liu.se/pub/opensuse/repositories/devel:/kubic:/libcontainers:/unstable/xUbuntu_${ubuntu_version}/Release.key" | sudo apt-key add - && \
            sudo apt-get update && \
            sudo apt-get -y install podman; }
          podman version

      - name: Revert unprivileged user namespace restrictions in Ubuntu 24.04
        run: |
          # allow unprivileged user namespace
          sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0

      - name: Build Podman Desktop for E2E tests
        working-directory: ./podman-desktop
        run: |
          pnpm install --frozen-lockfile
          pnpm test:e2e:build

      - name: Ensure getting current HEAD version of the test framework
        working-directory: ./podman-desktop-redhat-account-ext
        run: |
          # workaround for https://github.com/containers/podman-desktop-extension-bootc/issues/712
          version=$(npm view @podman-desktop/tests-playwright@next version)
          echo "Version of @podman-desktop/tests-playwright to be used: $version"
          jq --arg version "$version" '.devDependencies."@podman-desktop/tests-playwright" = $version' package.json > package.json_tmp && mv package.json_tmp package.json

      - name: Execute pnpm in SSO Extension
        working-directory: ./podman-desktop-redhat-account-ext
        run: pnpm install --no-frozen-lockfile
      
      - name: Build SSO extension from container file
        working-directory: ./podman-desktop-redhat-account-ext
        run: |
          pnpm build
          podman build -t ghcr.io/redhat-developer/podman-desktop-redhat-account-ext-builder:next . -f ./build/Containerfile.builder
          podman build -t local_sso_image ./ -f ./build/Containerfile
          CONTAINER_ID=$(podman create localhost/local_sso_image --entrypoint "")
          podman export $CONTAINER_ID > /tmp/local_sso_image.tar
          mkdir -p tests/output/sso-tests-pd/plugins
          tar -xf /tmp/local_sso_image.tar -C tests/output/sso-tests-pd/plugins/
          
      - name: Run All E2E tests
        working-directory: ./podman-desktop-redhat-account-ext
        env:
          PODMAN_DESKTOP_ARGS: ${{ github.workspace }}/podman-desktop
        run: pnpm test:e2e

      - uses: actions/upload-artifact@v6
        if: always()
        with:
          name: e2e-tests
          path: ./**/tests/**/output/

  e2e-tests-production:
    name: e2e tests production mode
    runs-on: ubuntu-24.04
    needs: test
    env:
      SKIP_INSTALLATION: true
    steps:
      - uses: actions/checkout@v6
        with: 
          path: podman-desktop-redhat-account-ext

      # Checkout podman desktop
      - uses: actions/checkout@v6
        with:
          repository: containers/podman-desktop
          ref: main
          path: podman-desktop

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false
          package_json_file: ./podman-desktop/package.json

      - uses: actions/setup-node@v6
        with:
          node-version: 22
      
      - name: Update podman
        run: |
          echo "ubuntu version from kubic repository to install podman we need (v5)"
          ubuntu_version='23.10'
          echo "Add unstable kubic repo into list of available sources and get the repo key"
          sudo sh -c "echo 'deb https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/unstable/xUbuntu_${ubuntu_version}/ /' > /etc/apt/sources.list.d/devel:kubic:libcontainers:unstable.list"
          curl -L "https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/unstable/xUbuntu_${ubuntu_version}/Release.key" | sudo apt-key add -
          echo "Updating database of packages..."
          sudo apt-get update -qq
          echo "install necessary dependencies for criu package which is not part of ${ubuntu_version}"
          sudo apt-get install -qq libprotobuf32t64 python3-protobuf libnet1
          echo "install criu manually from static location"
          curl -sLO http://archive.ubuntu.com/ubuntu/pool/universe/c/criu/criu_3.16.1-2_amd64.deb && sudo dpkg -i criu_3.16.1-2_amd64.deb
          echo "installing/update podman package..."
          sudo apt-get -qq -y install podman || { echo "Start fallback steps for podman nightly installation from a static mirror" && \
            sudo sh -c "echo 'deb http://ftp.lysator.liu.se/pub/opensuse/repositories/devel:/kubic:/libcontainers:/unstable/xUbuntu_${ubuntu_version}/ /' > /etc/apt/sources.list.d/devel:kubic:libcontainers:unstable.list" && \
            curl -L "http://ftp.lysator.liu.se/pub/opensuse/repositories/devel:/kubic:/libcontainers:/unstable/xUbuntu_${ubuntu_version}/Release.key" | sudo apt-key add - && \
            sudo apt-get update && \
            sudo apt-get -y install podman; }
          podman version

      - name: Revert unprivileged user namespace restrictions in Ubuntu 24.04
        run: |
          # allow unprivileged user namespace
          sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0

      - name: Build Podman Desktop for E2E tests locally in production mode
        working-directory: ./podman-desktop
        env:
          ELECTRON_ENABLE_INSPECT: true
        run: |
          pnpm install --frozen-lockfile
          pnpm compile:current --linux dir
          path=$(realpath ./dist/linux-unpacked/podman-desktop)
          echo "Podman Desktop built binary: $path"
          echo "PODMAN_DESKTOP_BINARY_PATH=$path" >> $GITHUB_ENV

      - name: Ensure getting current HEAD version of the test framework
        working-directory: ./podman-desktop-redhat-account-ext
        run: |
          # workaround for https://github.com/containers/podman-desktop-extension-bootc/issues/712
          version=$(npm view @podman-desktop/tests-playwright@next version)
          echo "Version of @podman-desktop/tests-playwright to be used: $version"
          jq --arg version "$version" '.devDependencies."@podman-desktop/tests-playwright" = $version' package.json > package.json_tmp && mv package.json_tmp package.json

      - name: Execute pnpm in SSO Extension
        working-directory: ./podman-desktop-redhat-account-ext
        run: pnpm install --no-frozen-lockfile

      - name: Build SSO extension from container file
        working-directory: ./podman-desktop-redhat-account-ext
        run: |
          pnpm build
          podman build -t ghcr.io/redhat-developer/podman-desktop-redhat-account-ext-builder:next . -f ./build/Containerfile.builder
          podman build -t local_sso_image ./ -f ./build/Containerfile
          CONTAINER_ID=$(podman create localhost/local_sso_image --entrypoint "")
          podman export $CONTAINER_ID > /tmp/local_sso_image.tar
          mkdir -p tests/output/sso-tests-pd/plugins
          tar -xf /tmp/local_sso_image.tar -C tests/output/sso-tests-pd/plugins/
          
      - name: Run All E2E tests
        working-directory: ./podman-desktop-redhat-account-ext
        env:
          PODMAN_DESKTOP_BINARY: ${{ env.PODMAN_DESKTOP_BINARY_PATH }}
        run: |
          pnpm test:e2e

      - uses: actions/upload-artifact@v6
        if: always()
        with:
          name: e2e-tests-production
          path: ./**/tests/**/output/
